<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formuláio de cadastro de Notíia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br />

		<form action="/noticias/salvar" method="post">
			<label>Titulo</label>
			<input type="text" id="titulo" name="titulo" placeholder="Titulo da noticia"/>
			<br />
			<label>Noticias</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30"></textarea>
			<br/>
			<input type="submit" value="Enviar" />
			<br/>
		
		</form>

	</body>
</html>