<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<table>
			<tr>
				<td>ID</td>
				<td>Título</td>
				<!-- foi retirado para que na pagina de noticia.js pudesse aparecer a noticia na integra 
				<td>Noticias</td> -->
			</tr>

			<% for(var i=0; i < noticias.length; i++) { %>
				<tr>
					<TD><%= noticias[i].id_noticia %></TD>
					<td><%= noticias[i].titulo %></td>
					<!-- foi retirado para que na pagina de noticia.js pudesse aparecer a noticia na integra 
					<td><%= noticias[i].noticia %></td>-->
				</tr>
			<% } %>

		</table>

	</body>
</html>